.tabel1{
    background-color: burlywood;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.tabel2{
    background-color: indianred;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.tabel3{
    background-color: cadetblue;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.tabel4 {
    background-color: darkgoldenrod;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.foto {
    border: solid black 10px;
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 5px;
    z-index: -1;
    margin-top: 10px;
}
.foto1 {
    display: block;
    z-index: -1;
    width: 350px;
    height: 250px;
}
.font{
    font-size: 18px;
    margin-left: 20px;

}
table, th, td {
    border: 1px solid black;
}

.tabellenbox{
    border: 5px solid brown;
    background-color: rgba(0,0,0,0.6);
    width: 1000px;
}
.test{
    font-weight: bold;
}