* {
    box-sizing: border-box;
}
body{
    font-family: "Arial", "sans-serif";
    line-height: 25px;
}

.container, footer {
    margin: auto;
    width: 1500px;
    background-color: rgb(251,235,235);
    padding: 20px;
}

nav{
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}