* {
    box-sizing: border-box;
    align-self: center;
}
body{
    font-family: "Arial", "sans-serif";
}

.container {
    margin: auto;
    width: auto;
    background-color: rgb(251,235,235);
    padding: 20px;
}

nav{
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}
form{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 4fr;
}
h2{
    grid-column: 1/5;
}
.eten{
    display: flex;
    grid-column: 4/5;
}
.eten label{
    margin-left: 10px;
}
.textboks{
    width: 300px;
    margin-bottom: 10px;
    border: solid 1px cornflowerblue;
}
.primeline{
    grid-column: 1/2;
}
#discription{
    grid-column: 2/3;
    margin-top: 20px;
    height: 100px;
}
.knoppen{
    grid-column: 4/5;
    text-align: right;
    position: relative;
    top: 40px;
}