* {
    box-sizing: border-box;
}
body{
    font-family: "Arial", "sans-serif";
    line-height: 25px;
}

.container {
    margin: auto;
    width: auto;
    background-color: rgb(251,235,235);
    padding: 20px;
}

nav{
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}
div.form-group{
    width: 325px;
    padding: 10px;
}
input{
    float: right;
}
form #kleur-ogen{
    margin-left: 110px;
}
form #geboortedatum{
    margin-left: 10px;
}
input.knoppen{
    margin-right: 20px;
}
form.knoppen, input.knoppen{
    display: inline;
}