body
{
    background-image: url("Images/bg.jpg");
    background-repeat: no-repeat;
}

.backframe {
    background-color: rgba(0,0,0,0.8);
    width: 95%;
    height: 1000px;
    border: 20px solid white;
    padding: 50px;
    margin: 20px;
}

.foto {
    border: 10px solid black;
    margin: 20px;
}